<html>
<h1>Answer</h1>
<h2>
<%= link_to "Ask a new question", ask_path %>
</h2>
<div class="flex">
<div class="flex1">
<%= @question %>
</div>
<div class="flex2">
<%= @answer %>
</div>
</div>
</html>
